.subscriber-details-heading {
    margin-left: 20px; /* Adjust margin as needed */
  }
  
  .subscriber-details-container {
    margin-left: 20px; /* Adjust margin as needed */
    margin-top: 20px; /* Add vertical spacing */
    width: 50%; /* Adjust width as needed */
  }
  
  .view-notification-button {
    margin-top: 20px;
    margin-left: 31px;
  }
  